/* General page styles */
.answer-page {
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 120px 20px 20px 20px; /* top right bottom left */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  /* Page title */
  .page-title {
    font-size: 2.5rem;
    color: #020202;
    margin-bottom: 40px;
    font-weight: 700;
    text-shadow: 0 0 10px #e67e22;
  }
  
  /* Styling for the question details */
  .question-detail {
    width: 100%;
    max-width: 600px;
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-bottom: 40px;
  }
  
  /* Styling for the question title */
  .question-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
  }
  
  /* Styling for the answer form */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styling for the answer input */
  .answer-input {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333;
    border: 2px solid #444;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .answer-input:focus {
    border-color: #fffefc;
    background-color: #222;
    outline: none;
  }
  
  /* Styling for the secret key input */
  .secret-key-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #333;
    border: 2px solid #444;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .secret-key-input:focus {
    border-color: #fffefc;
    background-color: #222;
    outline: none;
  }
  
  /* Styling for the submit button */
  .submit-button {
    padding: 12px 20px;
    background-color: #000000;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    max-width: 200px;
  }
  
  .submit-button:hover {
    background-color: #e67e22;
    transform: scale(1.05); /* Slight scaling effect */
  }
  
  /* Error message styling */
  .error-message {
    color: #ff4d4d;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  /* Loading message styling */
  .loading-message {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
  }
  