.glimpses-page {
  background-color: #121212;
  color: white;
  text-align: center;
  padding: 120px 20px 20px 20px; /* top right bottom left */
}

.glimpses-title {
  color: black;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #e67e22;
  display: inline-block;
  /* margin: auto; */
}
.glimpses-title:hover {
  color: white;
}

.glimpses-gallery {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Grid layout with responsive columns */
  gap: 20px;
  justify-items: center; /* Centers the images in each grid item */
}

.glimpse-card {
  width: 100%;
  max-width: 250px; /* Adjust max-width as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.glimpse-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area without distorting it */
  border-radius: 10px; /* Optional: rounded corners */
  cursor: pointer; /* Indicates that the image is clickable */
}

/* Modal styles */
.modal {
  display: flex; /* This ensures that the modal is visible */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
  justify-content: center;
  align-items: center;
  opacity: 1; /* Ensure it is fully visible */
  transition: opacity 0.3s ease; /* Smooth transition for showing the modal */
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #f44336;
  text-decoration: none;
  cursor: pointer;
}
