.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px 25px; */
    background-color: #000;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-logo img {
    height: 45px;
    border-radius: 30px;
    cursor: pointer;
    padding: 15px ; 
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
    gap: 25px;
    transition: all 0.3s ease-in-out;
    padding-right: 10px;
  }
  
  .navbar-links li {
    padding: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
  }
  
  .navbar-links a:hover {
    color: #f39c12;
  }
  
  /* Mobile Menu Icon */
  .navbar-toggle {
    padding-right: 9px;
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .navbar-toggle span {
    height: 3px;
    width: 25px;
    background: rgb(255, 251, 251);
    border-radius: 1px;
    transition: 1s;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar-links {
      position: absolute;
      top: 70px;
      right: 0;
      background-color: #000;
      width: 100%;
      flex-direction: column;
      align-items: center;
      max-height: 0;
      overflow: hidden;
      gap:2px;
    }
  
    .navbar-links.active {
      max-height: 300px;
      padding-bottom: 10px;
    }
  
    .navbar-toggle {
      display: flex;
    }
  }
  