.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px 25px; */
  background-color: #4c805a;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 120px;
}

.navbar-logo img {
  height: 57px;
  border-radius: 30px;
  cursor: pointer;
  padding: 15px;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1px;
  transition: all 0.3s ease-in-out;
  padding-right: 10px;
}

.navbar-links li {
  padding: 10px;
}

.navbar-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
}

/* Mobile Menu Icon */
.navbar-toggle {
  padding-right: 9px;
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.navbar-toggle span {
  height: 3px;
  width: 25px;
  background: rgb(255, 251, 251);
  border-radius: 1px;
  transition: 1s;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #ffffff;
    width: 100%;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    gap: 2px;
  }

  .navbar-links.active {
    max-height: 300px;
    padding-bottom: 10px;
  }

  .navbar-toggle {
    display: flex;
  }
  .navbar-links a {
    color:rgb(81, 101, 107)
  }
}
.navbar-title {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  color: #ffffff;
  max-width: 600px;
}

/* If you want spacing between logos and text */
.navbar-logo {
  display: flex;
  gap: 10px;
}

.navbar-title {
  margin-top: 5px;
}
