/* General page styles */
.questions-page {
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 120px 20px 20px 20px; /* top right bottom left */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* Page title */
  .page-title {
    font-size: 2.5rem;
    color: #020202;
    margin-bottom: 40px;
    font-weight: 700;
    text-shadow: 0 0 10px #e67e22;
  }
  
  /* Styling for the question form */
  .new-question-form {
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Depth effect */
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  /* Styling for the question input */
  .question-input {
    width: 100%;
    height: 120px;
    padding: 1px;
    margin-bottom: 20px;

    background-color: #333;
    border: 2px solid #444;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .question-input:focus {
    border-color: #fffefc;
    background-color: #222;
    outline: none;
  }
  
  /* Styling for submit button */
  .submit-button {
    padding: 12px 20px;
    background-color: #000000;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    max-width: 200px;
  }
  
  .submit-button:hover {
    background-color: #e67e22;
    transform: scale(1.05); /* Slight scaling effect */
  }
  
  /* Styling for the question list */
  .questions-list {
    width: 100%;
    max-width: 800px;
    margin-top: 40px;
  }
  
  .no-questions {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Styling for individual question items */
  .question-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease;
    /* cursor: pointer; */
    word-wrap: break-word; /* Ensures text wraps instead of overflowing */
  overflow-wrap: break-word; /* Similar property for text wrapping */
  white-space: normal; /* Allows the text to break into new lines */
  }
  

  
  /* Styling for question title */
  .question-title {
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
  }
  
  /* Styling for question body */
  .question-body {
    font-size: 1px;
    line-height: 1.6;
    color: #ccc;
    margin-top: 10px;
    white-space: normal; /* Ensures text inside the paragraph breaks properly */

  }
  