name: Node.js CI

on:
  push:
    branches: [ "main" ]

defaults:
  run:
    working-directory: client

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: client/package-lock.json   # <-- FIXED HERE

      - name: Install Dependencies
        run: npm ci

      - name: Build
      - run: CI=false npm run build --if-present
